#define LAYER_CHORD(name, keypress, keypos, lays, tmout) \
  chord_##name { \
    timeout-ms = <tmout>; \
    bindings = <keypress>; \
    key-positions = <keypos>; \
    layers = <lays>; \
  };

#define CHMAC(name, keys) \
  name: name##_macro { \
    compatible = "zmk,behavior-macro"; \
    #binding-cells = <0>; \
    tap-ms = <1>; \
    wait-ms = <1>; \
    bindings = <keys>; \
  };

/ {
  combos {
    compatible = "zmk,combos";
    LAYER_CHORD(ch_excl, &kp EXCL, KS KT, ALPHA SYM NUM, 15)
    LAYER_CHORD(ch_excl_s, &ch_excl_s, KS KT, CHORDL POST_CHORD_LAYER, 80)
    LAYER_CHORD(ch_qmark, &kp LS(MINUS), KI KE, ALPHA SYM NUM, 35)
    LAYER_CHORD(ch_qmark_s, &ch_qmark_s, KI KE, CHORDL POST_CHORD_LAYER, 80)
    LAYER_CHORD(ch_apos, &kp BSLH, KL KU, ALPHA SYM NUM, 40)
    LAYER_CHORD(ch_apos_s, &ch_apos_s, KL KU, CHORDL POST_CHORD_LAYER, 80)
  };
};

/ {
  macros {
    CHMAC(ch_excl_s, &kp BSPC &kp EXCL &kp SPC)
    CHMAC(ch_qmark_s, &kp BSPC &kp LS(MINUS) &kp SPC)
    CHMAC(ch_apos_s, &kp BSPC &kp BSLH)
  };
};
