
#define LAYER_CHORD(name, keypress, keypos, lays, tmout) \
  chord_##name { \
    timeout-ms = <tmout>; \
    bindings = <keypress>; \
    key-positions = <keypos>; \
    layers = <lays>; \
  };

#define CHORD(name, keypress, keypos) \
  LAYER_CHORD(name, keypress, keypos, CHORDL, 80)

#define CHMAC(name, keys) \
  name: name##_macro { \
    compatible = "zmk,behavior-macro"; \
    #binding-cells = <0>; \
    tap-ms = <1>; \
    wait-ms = <1>; \
    bindings = <keys>; \
  };

/ {
  combos {
    compatible = "zmk,combos";
    LAYER_CHORD(ch_excl, &kp EXCL, KS KT, ALPHA SYM NUM, 15)
    LAYER_CHORD(ch_excl_s, &ch_excl_s, KS KT, CHORDL, 80)
    LAYER_CHORD(ch_qmark, &kp LS(MINUS), KI KE, ALPHA SYM NUM, 35)
    LAYER_CHORD(ch_qmark_s, &ch_qmark_s, KI KE, CHORDL, 80)
    LAYER_CHORD(ch_apos, &kp BSLH, KL KU, ALPHA SYM NUM, 40)
    LAYER_CHORD(ch_apos_s, &ch_apos_s, KL KU, CHORDL, 80)
    CHORD(ch_the, &ch_the, KT KH KE)
    CHORD(ch_i, &ch_i, KI)
    CHORD(ch_be, &ch_be, KB KE)
    CHORD(ch_och, &ch_och, KO KC KH)
    CHORD(ch_to, &ch_to, KT KO)
    CHORD(ch_att, &ch_att, KA KT KDUP)
    CHORD(ch_of, &ch_of, KO KF)
    CHORD(ch_det, &ch_det, KD KE KDUP)
    CHORD(ch_and, &ch_and, KA KN KD)
    CHORD(ch_som, &ch_som, KS KO KM)
    CHORD(ch_a, &ch_a, KA)
    CHORD(ch_en, &ch_en, KE KN)
    CHORD(ch_in, &ch_in, KI KN)
    CHORD(ch_p, &ch_p, KP KARING)
    CHORD(ch_that, &ch_that, KT KH KA)
    CHORD(ch_r, &ch_r, KAUML KR)
    CHORD(ch_have, &ch_have, KH KA KV)
    CHORD(ch_av, &ch_av, KA KV)
    CHORD(ch_it, &ch_it, KI KT)
    CHORD(ch_f_r, &ch_f_r, KF KOUML KR)
    CHORD(ch_for, &ch_for, KF KO KR)
    CHORD(ch_med, &ch_med, KM KE KD)
    CHORD(ch_not, &ch_not, KN KO KT)
    CHORD(ch_till, &ch_till, KT KI KL)
    CHORD(ch_is, &ch_is, KI KS)
    CHORD(ch_den, &ch_den, KD KE KN)
    CHORD(ch_are, &ch_are, KA KR KE)
    CHORD(ch_har, &ch_har, KH KA KR)
    CHORD(ch_on, &ch_on, KO KN)
    CHORD(ch_de, &ch_de, KD KE)
    CHORD(ch_with, &ch_with, KW KI KT)
    CHORD(ch_inte, &ch_inte, KI KN KT)
    CHORD(ch_he, &ch_he, KH KE)
    CHORD(ch_om, &ch_om, KO KM)
    CHORD(ch_was, &ch_was, KW KA KS)
    CHORD(ch_ett, &ch_ett, KE KT)
    CHORD(ch_as, &ch_as, KA KS)
    CHORD(ch_han, &ch_han, KH KA KDUP)
    CHORD(ch_you, &ch_you, KY KU)
    CHORD(ch_men, &ch_men, KM KE KDUP)
    CHORD(ch_do, &ch_do, KD KO)
    CHORD(ch_var, &ch_var, KV KR KDUP)
    CHORD(ch_does, &ch_does, KD KO KE)
    CHORD(ch_jag, &ch_jag, KJ KA KG)
    CHORD(ch_at, &ch_at, KA KT)
    CHORD(ch_sig, &ch_sig, KS KI KG)
    CHORD(ch_this, &ch_this, KT KH KI)
    CHORD(ch_fr_n, &ch_fr_n, KF KR KN)
    CHORD(ch_but, &ch_but, KB KU)
    CHORD(ch_vi, &ch_vi, KV KI)
    CHORD(ch_his, &ch_his, KH KI KS)
    CHORD(ch_s, &ch_s, KS KARING)
    CHORD(ch_by, &ch_by, KB KY)
    CHORD(ch_kan, &ch_kan, KK KA)
    CHORD(ch_from, &ch_from, KF KR KM)
    CHORD(ch_man, &ch_man, KM KA KDUP)
    CHORD(ch_they, &ch_they, KT KH KY)
    CHORD(ch_n_r, &ch_n_r, KN KAUML KR)
    CHORD(ch_we, &ch_we, KW KE)
    CHORD(ch_r_1, &ch_r_1, KARING KR)
    CHORD(ch_say, &ch_say, KS KA KY)
    CHORD(ch_s_ger, &ch_s_ger, KS KAUML KG)
    CHORD(ch_her, &ch_her, KH KE KR)
    CHORD(ch_hon, &ch_hon, KH KO KDUP)
    CHORD(ch_she, &ch_she, KS KH KE)
    CHORD(ch_under, &ch_under, KU KN KD)
    CHORD(ch_or, &ch_or, KO KR)
    CHORD(ch_ocks, &ch_ocks, KO KC KK)
    CHORD(ch_an, &ch_an, KA KN)
    CHORD(ch_efter, &ch_efter, KE KF KT)
    CHORD(ch_will, &ch_will, KW KI KL)
    CHORD(ch_eller, &ch_eller, KE KL KR)
    CHORD(ch_my, &ch_my, KM KY)
    CHORD(ch_nu, &ch_nu, KN KU)
    CHORD(ch_one, &ch_one, KO KN KE)
    CHORD(ch_sin, &ch_sin, KS KI KN)
    CHORD(ch_all, &ch_all, KA KL)
    CHORD(ch_d_r, &ch_d_r, KD KAUML KR)
    CHORD(ch_would, &ch_would, KW KO KU)
    CHORD(ch_vid, &ch_vid, KV KI KDUP)
    CHORD(ch_there, &ch_there, KT KH KR)
    CHORD(ch_mot, &ch_mot, KM KO KT)
    CHORD(ch_their, &ch_their, KT KI KR)
    CHORD(ch_ska, &ch_ska, KS KK KA)
    CHORD(ch_what, &ch_what, KW KH KA)
    CHORD(ch_skulle, &ch_skulle, KS KK KU)
    CHORD(ch_so, &ch_so, KS KO)
    CHORD(ch_kommer, &ch_kommer, KK KO KR)
    CHORD(ch_up, &ch_up, KU KP)
    CHORD(ch_ut, &ch_ut, KU KT)
    CHORD(ch_out, &ch_out, KO KU KT)
    CHORD(ch_f_r_1, &ch_f_r_1, KF KARING KR)
    CHORD(ch_if, &ch_if, KI KF)
    CHORD(ch_finns, &ch_finns, KF KI KN)
    CHORD(ch_about, &ch_about, KA KB KO)
    CHORD(ch_vara, &ch_vara, KV KA KR)
    CHORD(ch_who, &ch_who, KW KH KO)
    CHORD(ch_tror, &ch_tror, KT KR KO)
    CHORD(ch_get, &ch_get, KG KE KDUP)
    CHORD(ch_hade, &ch_hade, KH KD KE)
    CHORD(ch_which, &ch_which, KW KH KI)
    CHORD(ch_alla, &ch_alla, KA KL KDUP)
    CHORD(ch_go, &ch_go, KG KO)
    CHORD(ch_andra, &ch_andra, KA KD KR)
    CHORD(ch_me, &ch_me, KM KE)
    CHORD(ch_mycket, &ch_mycket, KM KY KC)
    CHORD(ch_when, &ch_when, KW KH KE)
    CHORD(ch_n, &ch_n, KAUML KN)
    CHORD(ch_make, &ch_make, KM KQ)
    CHORD(ch_h_r, &ch_h_r, KH KAUML KR)
    CHORD(ch_can, &ch_can, KC KA KN)
    CHORD(ch_d, &ch_d, KD KARING)
    CHORD(ch_like, &ch_like, KL KI KQ)
    CHORD(ch_sedan, &ch_sedan, KS KE KD)
    CHORD(ch_time, &ch_time, KT KI KM)
    CHORD(ch_ver, &ch_ver, KOUML KV KE)
    CHORD(ch_no, &ch_no, KN KO KDUP)
    CHORD(ch_bara, &ch_bara, KB KA KR)
    CHORD(ch_just, &ch_just, KJ KU KS)
    CHORD(ch_him, &ch_him, KH KI KDUP)
    CHORD(ch_blir, &ch_blir, KB KL KR)
    CHORD(ch_know, &ch_know, KK KO KW)
    CHORD(ch_upp, &ch_upp, KU KP KDUP)
    CHORD(ch_take, &ch_take, KT KA KE)
    CHORD(ch_ven, &ch_ven, KAUML KV KE)
    CHORD(ch_people, &ch_people, KP KE KO)
    CHORD(ch_vad, &ch_vad, KV KA KDUP)
    CHORD(ch_into, &ch_into, KI KT KO)
    CHORD(ch_f, &ch_f, KF KARING)
    CHORD(ch_year, &ch_year, KY KE KA)
    CHORD(ch_tv, &ch_tv, KV KARING)
    CHORD(ch_your, &ch_your, KY KU KR)
    CHORD(ch_vill, &ch_vill, KV KI KL)
    CHORD(ch_good, &ch_good, KG KO KDUP)
    CHORD(ch_ha, &ch_ha, KH KA)
    CHORD(ch_some, &ch_some, KS KM KDUP)
    CHORD(ch_m_nga, &ch_m_nga, KM KARING KG)
    CHORD(ch_could, &ch_could, KC KO KU)
    CHORD(ch_hur, &ch_hur, KH KU KR)
    CHORD(ch_them, &ch_them, KT KH KDUP)
    CHORD(ch_mer, &ch_mer, KM KE KR)
    CHORD(ch_see, &ch_see, KS KE KDUP)
    CHORD(ch_g_r, &ch_g_r, KG KARING KR)
    CHORD(ch_other, &ch_other, KO KT KH)
    CHORD(ch_sverige, &ch_sverige, KS KV KE)
    CHORD(ch_than, &ch_than, KT KN KDUP)
    CHORD(ch_kronor, &ch_kronor, KK KR)
    CHORD(ch_then, &ch_then, KT KE KN)
    CHORD(ch_detta, &ch_detta, KD KE KA)
    CHORD(ch_now, &ch_now, KN KO KW)
    CHORD(ch_nya, &ch_nya, KN KY KA)
    CHORD(ch_look, &ch_look, KL KO KQ)
    CHORD(ch_procent, &ch_procent, KP KR KC)
    CHORD(ch_only, &ch_only, KO KN KY)
    CHORD(ch_hans, &ch_hans, KH KA KX)
    CHORD(ch_come, &ch_come, KC KO KM)
    CHORD(ch_utan, &ch_utan, KU KT KA)
    CHORD(ch_its, &ch_its, KI KT KS)
    CHORD(ch_sina, &ch_sina, KS KI KA)
    CHORD(ch_over, &ch_over, KO KV KE)
    CHORD(ch_n_got, &ch_n_got, KN KARING KT)
    CHORD(ch_think, &ch_think, KT KI KK)
    CHORD(ch_svenska, &ch_svenska, KS KV KN)
    CHORD(ch_also, &ch_also, KA KL KS)
    CHORD(ch_allt, &ch_allt, KA KL KT)
    CHORD(ch_back, &ch_back, KB KA KK)
    CHORD(ch_f_rsta, &ch_f_rsta, KF KOUML KT)
    CHORD(ch_after, &ch_after, KA KF KT)
    CHORD(ch_fick, &ch_fick, KF KI KK)
    CHORD(ch_use, &ch_use, KU KS)
    CHORD(ch_m_ste, &ch_m_ste, KM KARING KS)
    CHORD(ch_two, &ch_two, KT KW KO)
    CHORD(ch_mellan, &ch_mellan, KM KE KA)
    CHORD(ch_how, &ch_how, KH KW)
    CHORD(ch_blev, &ch_blev, KB KL KE)
    CHORD(ch_our, &ch_our, KO KU KR)
    CHORD(ch_bli, &ch_bli, KB KL KI)
    CHORD(ch_work, &ch_work, KW KO KDUP)
    CHORD(ch_dag, &ch_dag, KD KA)
    CHORD(ch_first, &ch_first, KF KI KR)
    CHORD(ch_n_gon, &ch_n_gon, KN KARING KG)
    CHORD(ch_well, &ch_well, KW KE KL)
    CHORD(ch_n_gra, &ch_n_gra, KN KG KR)
    CHORD(ch_way, &ch_way, KW KA KY)
    CHORD(ch_sitt, &ch_sitt, KS KI KDUP)
    CHORD(ch_even, &ch_even, KE KV KN)
    CHORD(ch_stor, &ch_stor, KS KT KO)
    CHORD(ch_new, &ch_new, KN KE KW)
    CHORD(ch_varit, &ch_varit, KV KR KI)
    CHORD(ch_want, &ch_want, KW KA KN)
    CHORD(ch_dem, &ch_dem, KD KM KDUP)
    CHORD(ch_because, &ch_because, KB KE KC)
    CHORD(ch_bland, &ch_bland, KB KL KA)
    CHORD(ch_any, &ch_any, KA KN KDUP)
    CHORD(ch_bra, &ch_bra, KB KR KDUP)
    CHORD(ch_these, &ch_these, KT KH)
    CHORD(ch_tre, &ch_tre, KT KR KE)
    CHORD(ch_give, &ch_give, KG KI KE)
    CHORD(ch_ta, &ch_ta, KT KA KM)
    CHORD(ch_day, &ch_day, KD KA KY)
    CHORD(ch_genom, &ch_genom, KG KE KN)
    CHORD(ch_most, &ch_most, KM KS KT)
    CHORD(ch_del, &ch_del, KD KE KL)
    CHORD(ch_us, &ch_us, KU KS KDUP)
    CHORD(ch_hela, &ch_hela, KH KE KDUP)
    CHORD(ch_state, &ch_state, KS KT KA)
    CHORD(ch_annat, &ch_annat, KA KN KT)
    CHORD(ch_never, &ch_never, KN KV KR)
    CHORD(ch_fram, &ch_fram, KF KR KA)
    CHORD(ch_become, &ch_become, KB KC KO)
    CHORD(ch_g_r_1, &ch_g_r_1, KG KOUML KR)
    CHORD(ch_between, &ch_between, KB KE KW)
    CHORD(ch_ingen, &ch_ingen, KI KN KG)
    CHORD(ch_high, &ch_high, KH KI KG)
    CHORD(ch_stockholm, &ch_stockholm, KS KT KH)
    CHORD(ch_really, &ch_really, KR KL KY)
    CHORD(ch_g_ra, &ch_g_ra, KG KOUML KA)
    CHORD(ch_something, &ch_something, KS KO KE)
    CHORD(ch_enligt, &ch_enligt, KE KN KI)
    CHORD(ch_mig, &ch_mig, KM KI KG)
    CHORD(ch_another, &ch_another, KA KN KO)
    CHORD(ch_redan, &ch_redan, KR KE KD)
    CHORD(ch_much, &ch_much, KM KU KC)
    CHORD(ch_inom, &ch_inom, KI KN KO)
    CHORD(ch_family, &ch_family, KF KA KM)
    CHORD(ch_kom, &ch_kom, KQ KO KM)
    CHORD(ch_own, &ch_own, KO KW KM)
    CHORD(ch_du, &ch_du, KD KU)
    CHORD(ch_leave, &ch_leave, KL KE KA)
    CHORD(ch_helt, &ch_helt, KL KT KDUP)
    CHORD(ch_put, &ch_put, KP KU KY)
    CHORD(ch_ju, &ch_ju, KJ KU)
    CHORD(ch_old, &ch_old, KL KD)
    CHORD(ch_samma, &ch_samma, KS KA KM)
    CHORD(ch_while, &ch_while, KW KI KE)
    CHORD(ch_kanske, &ch_kanske, KK KS KE)
    CHORD(ch_mean, &ch_mean, KE KA KN)
    CHORD(ch_sj_lv, &ch_sj_lv, KS KJ)
    CHORD(ch_keep, &ch_keep, KK KE KP)
    CHORD(ch_oss, &ch_oss, KO KS KDUP)
    CHORD(ch_student, &ch_student, KS KT KU)
    CHORD(ch_tidigare, &ch_tidigare, KT KI KA)
    CHORD(ch_why, &ch_why, KW KH KY)
    CHORD(ch_se, &ch_se, KS KE)
    CHORD(ch_let, &ch_let, KL KE KT)
    CHORD(ch_verkar, &ch_verkar, KV KE KR)
    CHORD(ch_great, &ch_great, KG KR KE)
    CHORD(ch_b_ttre, &ch_b_ttre, KB KAUML)
    CHORD(ch_same, &ch_same, KS KA KE)
    CHORD(ch_s_mre, &ch_s_mre, KS KAUML KM)
    CHORD(ch_big, &ch_big, KB KI)
    CHORD(ch_sida, &ch_sida, KS KI KD)
    CHORD(ch_group, &ch_group, KG KR KO)
    CHORD(ch_vem, &ch_vem, KV KE KM)
    CHORD(ch_begin, &ch_begin, KB KE KI)
    CHORD(ch_varf_r, &ch_varf_r, KV KR KF)
    CHORD(ch_seem, &ch_seem, KS KE KM)
    CHORD(ch_ni, &ch_ni, KN KI KDUP)
    CHORD(ch_country, &ch_country, KC KN KT)
    CHORD(ch_vilken, &ch_vilken, KV KI KN)
    CHORD(ch_help, &ch_help, KH KE KP)
    CHORD(ch_tid, &ch_tid, KT KI KDUP)
    CHORD(ch_talk, &ch_talk, KT KA KK)
    CHORD(ch_lite, &ch_lite, KL KI KE)
    CHORD(ch_where, &ch_where, KW KH KDUP)
    CHORD(ch_g, &ch_g, KG KARING)
    CHORD(ch_true, &ch_true, KT KR KU)
    CHORD(ch_s_ga, &ch_s_ga, KS KAUML KDUP)
    CHORD(ch_false, &ch_false, KF KA KL)
    CHORD(ch_ge, &ch_ge, KG KE)
    CHORD(ch_turn, &ch_turn, KT KU KN)
    CHORD(ch_visa, &ch_visa, KV KI KS)
    CHORD(ch_problem, &ch_problem, KP KR KL)
    CHORD(ch_liten, &ch_liten, KL KI KDUP)
    CHORD(ch_every, &ch_every, KE KV KY)
    CHORD(ch_b_rja, &ch_b_rja, KB KOUML KR)
    CHORD(ch_start, &ch_start, KS KT KR)
    CHORD(ch_flera, &ch_flera, KF KL KR)
    CHORD(ch_hand, &ch_hand, KH KD KDUP)
    CHORD(ch_h_lla, &ch_h_lla, KH KARING)
    CHORD(ch_might, &ch_might, KM KI KDUP)
    CHORD(ch_american, &ch_american, KA KM KR)
    CHORD(ch_viktig, &ch_viktig, KV KI KK)
    CHORD(ch_show, &ch_show, KS KH KW)
    CHORD(ch_tycka, &ch_tycka, KT KY KK)
    CHORD(ch_part, &ch_part, KP KA KR)
    CHORD(ch_hitta, &ch_hitta, KH KI KA)
    CHORD(ch_against, &ch_against, KA KG KS)
    CHORD(ch_dock, &ch_dock, KD KO KK)
    CHORD(ch_place, &ch_place, KP KL KA)
    CHORD(ch_hos, &ch_hos, KH KS KDUP)
    CHORD(ch_such, &ch_such, KS KU KH)
    CHORD(ch_sen, &ch_sen, KS KE KN)
    CHORD(ch_again, &ch_again, KA KG KI)
    CHORD(ch_few, &ch_few, KF KE KW)
    CHORD(ch_case, &ch_case, KC KA KE)
    CHORD(ch_week, &ch_week, KW KE KK)
    CHORD(ch_company, &ch_company, KC KO KP)
    CHORD(ch_system, &ch_system, KS KY KT)
    CHORD(ch_each, &ch_each, KE KC KH)
    CHORD(ch_right, &ch_right, KR KI KG)
    CHORD(ch_program, &ch_program, KP KR KM)
    CHORD(ch_hear, &ch_hear, KH KE KA)
    CHORD(ch_question, &ch_question, KQ KE KS)
    CHORD(ch_during, &ch_during, KD KU KR)
    CHORD(ch_play, &ch_play, KP KL KY)
    CHORD(ch_before, &ch_before, KB KE KF)
    CHORD(ch_previous, &ch_previous, KP KR KE)
    CHORD(ch_dont, &ch_dont, KD KO KN)
    CHORD(ch_add, &ch_add, KA KD KDUP)
    CHORD(ch_more, &ch_more, KM KO KR)
    CHORD(ch_ignore, &ch_ignore, KI KG KO)
    CHORD(ch_long, &ch_long, KO KN KG)
    CHORD(ch_short, &ch_short, KS KH KR)
    CHORD(ch_BSPCll, &ch_BSPCll, KL)
    CHORD(ch_BSPCs, &ch_BSPCs, KL KU KY)
    CHORD(ch_BSPCs_1, &ch_BSPCs_1, KS)
    CHORD(ch_BSPCing, &ch_BSPCing, KN KG)
    CHORD(ch_BSPCed, &ch_BSPCed, KD)
    CHORD(ch_related, &ch_related, KR KL KT)
    CHORD(ch_am, &ch_am, KA KM)
    CHORD(ch_try, &ch_try, KT KR KY)
    CHORD(ch_had, &ch_had, KH KA KD)
    CHORD(ch_number, &ch_number, KN KU KB)
    CHORD(ch_been, &ch_been, KB KE KN)
    CHORD(ch_find, &ch_find, KF KI KD)
    CHORD(ch_off, &ch_off, KO KF KDUP)
    CHORD(ch_should, &ch_should, KS KH KO)
    CHORD(ch_change, &ch_change, KC KH KA)
    CHORD(ch_end, &ch_end, KE KN KDUP)
    CHORD(ch_ask, &ch_ask, KA KS KDUP)
    CHORD(ch_came, &ch_came, KC KA KM)
    CHORD(ch_did, &ch_did, KD KI)
    CHORD(ch_down, &ch_down, KD KO KW)
    CHORD(ch_always, &ch_always, KA KL KW)
    CHORD(ch_believe, &ch_believe, KB KE KL KI)
    CHORD(ch_call, &ch_call, KC KA KL)
    CHORD(ch_feel, &ch_feel, KF KE KL)
    CHORD(ch_happen, &ch_happen, KH KA KP)
    CHORD(ch_here, &ch_here, KH KR KDUP)
    CHORD(ch_house, &ch_house, KH KO KU)
    CHORD(ch_last, &ch_last, KL KS KT)
    CHORD(ch_life, &ch_life, KL KI KF)
    CHORD(ch_many, &ch_many, KM KY KDUP)
    CHORD(ch_may, &ch_may, KM KA KY)
    CHORD(ch_need, &ch_need, KN KD KDUP)
    CHORD(ch_point, &ch_point, KP KO KI)
    CHORD(ch_still, &ch_still, KS KT KI KL)
    CHORD(ch_tell, &ch_tell, KT KE KDUP)
    CHORD(ch_thing, &ch_thing, KT KN)
    CHORD(ch_those, &ch_those, KT KO KE)
    CHORD(ch_three, &ch_three, KT KH KR KE)
    CHORD(ch_through, &ch_through, KT KH KU)
    CHORD(ch_too, &ch_too, KT KO KDUP)
    CHORD(ch_very, &ch_very, KV KR KY)
    CHORD(ch_world, &ch_world, KW KO KL)
    CHORD(ch_yeah, &ch_yeah, KY KE KH)
    CHORD(ch_yes, &ch_yes, KY KE KS)
    CHORD(ch_qualifier, &ch_qualifier, KQ KU)
    CHORD(ch_maybe, &ch_maybe, KM KA KB)
    CHORD(ch_probably, &ch_probably, KP KR KO)
  };
};

/ {
  macros {
    CHMAC(ch_excl_s, &kp BSPC &kp EXCL &kp SPC)
    CHMAC(ch_qmark_s, &kp BSPC &kp LS(MINUS) &kp SPC)
    CHMAC(ch_apos_s, &kp BSPC &kp BSLH)
    CHMAC(ch_the, &kp T &kp H &kp E &kp SPC)
    CHMAC(ch_i, &kp I &kp SPC)
    CHMAC(ch_be, &kp B &kp E &kp SPC)
    CHMAC(ch_och, &kp O &kp C &kp H &kp SPC)
    CHMAC(ch_to, &kp T &kp O &kp SPC)
    CHMAC(ch_att, &kp A &kp T &kp T &kp SPC)
    CHMAC(ch_of, &kp O &kp F &kp SPC)
    CHMAC(ch_det, &kp D &kp E &kp T &kp SPC)
    CHMAC(ch_and, &kp A &kp N &kp D &kp SPC)
    CHMAC(ch_som, &kp S &kp O &kp M &kp SPC)
    CHMAC(ch_a, &kp A &kp SPC)
    CHMAC(ch_en, &kp E &kp N &kp SPC)
    CHMAC(ch_in, &kp I &kp N &kp SPC)
    CHMAC(ch_p, &kp P &kp LBKT &kp SPC)
    CHMAC(ch_that, &kp T &kp H &kp A &kp T &kp SPC)
    CHMAC(ch_r, &kp SQT &kp R &kp SPC)
    CHMAC(ch_have, &kp H &kp A &kp V &kp E &kp SPC)
    CHMAC(ch_av, &kp A &kp V &kp SPC)
    CHMAC(ch_it, &kp I &kp T &kp SPC)
    CHMAC(ch_f_r, &kp F &kp SEMI &kp R &kp SPC)
    CHMAC(ch_for, &kp F &kp O &kp R &kp SPC)
    CHMAC(ch_med, &kp M &kp E &kp D &kp SPC)
    CHMAC(ch_not, &kp N &kp O &kp T &kp SPC)
    CHMAC(ch_till, &kp T &kp I &kp L &kp L &kp SPC)
    CHMAC(ch_is, &kp I &kp S &kp SPC)
    CHMAC(ch_den, &kp D &kp E &kp N &kp SPC)
    CHMAC(ch_are, &kp A &kp R &kp E &kp SPC)
    CHMAC(ch_har, &kp H &kp A &kp R &kp SPC)
    CHMAC(ch_on, &kp O &kp N &kp SPC)
    CHMAC(ch_de, &kp D &kp E &kp SPC)
    CHMAC(ch_with, &kp W &kp I &kp T &kp H &kp SPC)
    CHMAC(ch_inte, &kp I &kp N &kp T &kp E &kp SPC)
    CHMAC(ch_he, &kp H &kp E &kp SPC)
    CHMAC(ch_om, &kp O &kp M &kp SPC)
    CHMAC(ch_was, &kp W &kp A &kp S &kp SPC)
    CHMAC(ch_ett, &kp E &kp T &kp T &kp SPC)
    CHMAC(ch_as, &kp A &kp S &kp SPC)
    CHMAC(ch_han, &kp H &kp A &kp N &kp SPC)
    CHMAC(ch_you, &kp Y &kp O &kp U &kp SPC)
    CHMAC(ch_men, &kp M &kp E &kp N &kp SPC)
    CHMAC(ch_do, &kp D &kp O &kp SPC)
    CHMAC(ch_var, &kp V &kp A &kp R &kp SPC)
    CHMAC(ch_does, &kp D &kp O &kp E &kp S &kp SPC)
    CHMAC(ch_jag, &kp J &kp A &kp G &kp SPC)
    CHMAC(ch_at, &kp A &kp T &kp SPC)
    CHMAC(ch_sig, &kp S &kp I &kp G &kp SPC)
    CHMAC(ch_this, &kp T &kp H &kp I &kp S &kp SPC)
    CHMAC(ch_fr_n, &kp F &kp R &kp LBKT &kp N &kp SPC)
    CHMAC(ch_but, &kp B &kp U &kp T &kp SPC)
    CHMAC(ch_vi, &kp V &kp I &kp SPC)
    CHMAC(ch_his, &kp H &kp I &kp S &kp SPC)
    CHMAC(ch_s, &kp S &kp LBKT &kp SPC)
    CHMAC(ch_by, &kp B &kp Y &kp SPC)
    CHMAC(ch_kan, &kp K &kp A &kp N &kp SPC)
    CHMAC(ch_from, &kp F &kp R &kp O &kp M &kp SPC)
    CHMAC(ch_man, &kp M &kp A &kp N &kp SPC)
    CHMAC(ch_they, &kp T &kp H &kp E &kp Y &kp SPC)
    CHMAC(ch_n_r, &kp N &kp SQT &kp R &kp SPC)
    CHMAC(ch_we, &kp W &kp E &kp SPC)
    CHMAC(ch_r_1, &kp LBKT &kp R &kp SPC)
    CHMAC(ch_say, &kp S &kp A &kp Y &kp SPC)
    CHMAC(ch_s_ger, &kp S &kp SQT &kp G &kp E &kp R &kp SPC)
    CHMAC(ch_her, &kp H &kp E &kp R &kp SPC)
    CHMAC(ch_hon, &kp H &kp O &kp N &kp SPC)
    CHMAC(ch_she, &kp S &kp H &kp E &kp SPC)
    CHMAC(ch_under, &kp U &kp N &kp D &kp E &kp R &kp SPC)
    CHMAC(ch_or, &kp O &kp R &kp SPC)
    CHMAC(ch_ocks, &kp O &kp C &kp K &kp S &kp LBKT &kp SPC)
    CHMAC(ch_an, &kp A &kp N &kp SPC)
    CHMAC(ch_efter, &kp E &kp F &kp T &kp E &kp R &kp SPC)
    CHMAC(ch_will, &kp W &kp I &kp L &kp L &kp SPC)
    CHMAC(ch_eller, &kp E &kp L &kp L &kp E &kp R &kp SPC)
    CHMAC(ch_my, &kp M &kp Y &kp SPC)
    CHMAC(ch_nu, &kp N &kp U &kp SPC)
    CHMAC(ch_one, &kp O &kp N &kp E &kp SPC)
    CHMAC(ch_sin, &kp S &kp I &kp N &kp SPC)
    CHMAC(ch_all, &kp A &kp L &kp L &kp SPC)
    CHMAC(ch_d_r, &kp D &kp SQT &kp R &kp SPC)
    CHMAC(ch_would, &kp W &kp O &kp U &kp L &kp D &kp SPC)
    CHMAC(ch_vid, &kp V &kp I &kp D &kp SPC)
    CHMAC(ch_there, &kp T &kp H &kp E &kp R &kp E &kp SPC)
    CHMAC(ch_mot, &kp M &kp O &kp T &kp SPC)
    CHMAC(ch_their, &kp T &kp H &kp E &kp I &kp R &kp SPC)
    CHMAC(ch_ska, &kp S &kp K &kp A &kp SPC)
    CHMAC(ch_what, &kp W &kp H &kp A &kp T &kp SPC)
    CHMAC(ch_skulle, &kp S &kp K &kp U &kp L &kp L &kp E &kp SPC)
    CHMAC(ch_so, &kp S &kp O &kp SPC)
    CHMAC(ch_kommer, &kp K &kp O &kp M &kp M &kp E &kp R &kp SPC)
    CHMAC(ch_up, &kp U &kp P &kp SPC)
    CHMAC(ch_ut, &kp U &kp T &kp SPC)
    CHMAC(ch_out, &kp O &kp U &kp T &kp SPC)
    CHMAC(ch_f_r_1, &kp F &kp LBKT &kp R &kp SPC)
    CHMAC(ch_if, &kp I &kp F &kp SPC)
    CHMAC(ch_finns, &kp F &kp I &kp N &kp N &kp S &kp SPC)
    CHMAC(ch_about, &kp A &kp B &kp O &kp U &kp T &kp SPC)
    CHMAC(ch_vara, &kp V &kp A &kp R &kp A &kp SPC)
    CHMAC(ch_who, &kp W &kp H &kp O &kp SPC)
    CHMAC(ch_tror, &kp T &kp R &kp O &kp R &kp SPC)
    CHMAC(ch_get, &kp G &kp E &kp T &kp SPC)
    CHMAC(ch_hade, &kp H &kp A &kp D &kp E &kp SPC)
    CHMAC(ch_which, &kp W &kp H &kp I &kp C &kp H &kp SPC)
    CHMAC(ch_alla, &kp A &kp L &kp L &kp A &kp SPC)
    CHMAC(ch_go, &kp G &kp O &kp SPC)
    CHMAC(ch_andra, &kp A &kp N &kp D &kp R &kp A &kp SPC)
    CHMAC(ch_me, &kp M &kp E &kp SPC)
    CHMAC(ch_mycket, &kp M &kp Y &kp C &kp K &kp E &kp T &kp SPC)
    CHMAC(ch_when, &kp W &kp H &kp E &kp N &kp SPC)
    CHMAC(ch_n, &kp SQT &kp N &kp SPC)
    CHMAC(ch_make, &kp M &kp A &kp K &kp E &kp SPC)
    CHMAC(ch_h_r, &kp H &kp SQT &kp R &kp SPC)
    CHMAC(ch_can, &kp C &kp A &kp N &kp SPC)
    CHMAC(ch_d, &kp D &kp LBKT &kp SPC)
    CHMAC(ch_like, &kp L &kp I &kp K &kp E &kp SPC)
    CHMAC(ch_sedan, &kp S &kp E &kp D &kp A &kp N &kp SPC)
    CHMAC(ch_time, &kp T &kp I &kp M &kp E &kp SPC)
    CHMAC(ch_ver, &kp SEMI &kp V &kp E &kp R &kp SPC)
    CHMAC(ch_no, &kp N &kp O &kp SPC)
    CHMAC(ch_bara, &kp B &kp A &kp R &kp A &kp SPC)
    CHMAC(ch_just, &kp J &kp U &kp S &kp T &kp SPC)
    CHMAC(ch_him, &kp H &kp I &kp M &kp SPC)
    CHMAC(ch_blir, &kp B &kp L &kp I &kp R &kp SPC)
    CHMAC(ch_know, &kp K &kp N &kp O &kp W &kp SPC)
    CHMAC(ch_upp, &kp U &kp P &kp P &kp SPC)
    CHMAC(ch_take, &kp T &kp A &kp K &kp E &kp SPC)
    CHMAC(ch_ven, &kp SQT &kp V &kp E &kp N &kp SPC)
    CHMAC(ch_people, &kp P &kp E &kp O &kp P &kp L &kp E &kp SPC)
    CHMAC(ch_vad, &kp V &kp A &kp D &kp SPC)
    CHMAC(ch_into, &kp I &kp N &kp T &kp O &kp SPC)
    CHMAC(ch_f, &kp F &kp LBKT &kp SPC)
    CHMAC(ch_year, &kp Y &kp E &kp A &kp R &kp SPC)
    CHMAC(ch_tv, &kp T &kp V &kp LBKT &kp SPC)
    CHMAC(ch_your, &kp Y &kp O &kp U &kp R &kp SPC)
    CHMAC(ch_vill, &kp V &kp I &kp L &kp L &kp SPC)
    CHMAC(ch_good, &kp G &kp O &kp O &kp D &kp SPC)
    CHMAC(ch_ha, &kp H &kp A &kp SPC)
    CHMAC(ch_some, &kp S &kp O &kp M &kp E &kp SPC)
    CHMAC(ch_m_nga, &kp M &kp LBKT &kp N &kp G &kp A &kp SPC)
    CHMAC(ch_could, &kp C &kp O &kp U &kp L &kp D &kp SPC)
    CHMAC(ch_hur, &kp H &kp U &kp R &kp SPC)
    CHMAC(ch_them, &kp T &kp H &kp E &kp M &kp SPC)
    CHMAC(ch_mer, &kp M &kp E &kp R &kp SPC)
    CHMAC(ch_see, &kp S &kp E &kp E &kp SPC)
    CHMAC(ch_g_r, &kp G &kp LBKT &kp R &kp SPC)
    CHMAC(ch_other, &kp O &kp T &kp H &kp E &kp R &kp SPC)
    CHMAC(ch_sverige, &kp S &kp V &kp E &kp R &kp I &kp G &kp E &kp SPC)
    CHMAC(ch_than, &kp T &kp H &kp A &kp N &kp SPC)
    CHMAC(ch_kronor, &kp K &kp R &kp O &kp N &kp O &kp R &kp SPC)
    CHMAC(ch_then, &kp T &kp H &kp E &kp N &kp SPC)
    CHMAC(ch_detta, &kp D &kp E &kp T &kp T &kp A &kp SPC)
    CHMAC(ch_now, &kp N &kp O &kp W &kp SPC)
    CHMAC(ch_nya, &kp N &kp Y &kp A &kp SPC)
    CHMAC(ch_look, &kp L &kp O &kp O &kp K &kp SPC)
    CHMAC(ch_procent, &kp P &kp R &kp O &kp C &kp E &kp N &kp T &kp SPC)
    CHMAC(ch_only, &kp O &kp N &kp L &kp Y &kp SPC)
    CHMAC(ch_hans, &kp H &kp A &kp N &kp S &kp SPC)
    CHMAC(ch_come, &kp C &kp O &kp M &kp E &kp SPC)
    CHMAC(ch_utan, &kp U &kp T &kp A &kp N &kp SPC)
    CHMAC(ch_its, &kp I &kp T &kp S &kp SPC)
    CHMAC(ch_sina, &kp S &kp I &kp N &kp A &kp SPC)
    CHMAC(ch_over, &kp O &kp V &kp E &kp R &kp SPC)
    CHMAC(ch_n_got, &kp N &kp LBKT &kp G &kp O &kp T &kp SPC)
    CHMAC(ch_think, &kp T &kp H &kp I &kp N &kp K &kp SPC)
    CHMAC(ch_svenska, &kp S &kp V &kp E &kp N &kp S &kp K &kp A &kp SPC)
    CHMAC(ch_also, &kp A &kp L &kp S &kp O &kp SPC)
    CHMAC(ch_allt, &kp A &kp L &kp L &kp T &kp SPC)
    CHMAC(ch_back, &kp B &kp A &kp C &kp K &kp SPC)
    CHMAC(ch_f_rsta, &kp F &kp SEMI &kp R &kp S &kp T &kp A &kp SPC)
    CHMAC(ch_after, &kp A &kp F &kp T &kp E &kp R &kp SPC)
    CHMAC(ch_fick, &kp F &kp I &kp C &kp K &kp SPC)
    CHMAC(ch_use, &kp U &kp S &kp E &kp SPC)
    CHMAC(ch_m_ste, &kp M &kp LBKT &kp S &kp T &kp E &kp SPC)
    CHMAC(ch_two, &kp T &kp W &kp O &kp SPC)
    CHMAC(ch_mellan, &kp M &kp E &kp L &kp L &kp A &kp N &kp SPC)
    CHMAC(ch_how, &kp H &kp O &kp W &kp SPC)
    CHMAC(ch_blev, &kp B &kp L &kp E &kp V &kp SPC)
    CHMAC(ch_our, &kp O &kp U &kp R &kp SPC)
    CHMAC(ch_bli, &kp B &kp L &kp I &kp SPC)
    CHMAC(ch_work, &kp W &kp O &kp R &kp K &kp SPC)
    CHMAC(ch_dag, &kp D &kp A &kp G &kp SPC)
    CHMAC(ch_first, &kp F &kp I &kp R &kp S &kp T &kp SPC)
    CHMAC(ch_n_gon, &kp N &kp LBKT &kp G &kp O &kp N &kp SPC)
    CHMAC(ch_well, &kp W &kp E &kp L &kp L &kp SPC)
    CHMAC(ch_n_gra, &kp N &kp LBKT &kp G &kp R &kp A &kp SPC)
    CHMAC(ch_way, &kp W &kp A &kp Y &kp SPC)
    CHMAC(ch_sitt, &kp S &kp I &kp T &kp T &kp SPC)
    CHMAC(ch_even, &kp E &kp V &kp E &kp N &kp SPC)
    CHMAC(ch_stor, &kp S &kp T &kp O &kp R &kp SPC)
    CHMAC(ch_new, &kp N &kp E &kp W &kp SPC)
    CHMAC(ch_varit, &kp V &kp A &kp R &kp I &kp T &kp SPC)
    CHMAC(ch_want, &kp W &kp A &kp N &kp T &kp SPC)
    CHMAC(ch_dem, &kp D &kp E &kp M &kp SPC)
    CHMAC(ch_because, &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp SPC)
    CHMAC(ch_bland, &kp B &kp L &kp A &kp N &kp D &kp SPC)
    CHMAC(ch_any, &kp A &kp N &kp Y &kp SPC)
    CHMAC(ch_bra, &kp B &kp R &kp A &kp SPC)
    CHMAC(ch_these, &kp T &kp H &kp E &kp S &kp E &kp SPC)
    CHMAC(ch_tre, &kp T &kp R &kp E &kp SPC)
    CHMAC(ch_give, &kp G &kp I &kp V &kp E &kp SPC)
    CHMAC(ch_ta, &kp T &kp A &kp SPC)
    CHMAC(ch_day, &kp D &kp A &kp Y &kp SPC)
    CHMAC(ch_genom, &kp G &kp E &kp N &kp O &kp M &kp SPC)
    CHMAC(ch_most, &kp M &kp O &kp S &kp T &kp SPC)
    CHMAC(ch_del, &kp D &kp E &kp L &kp SPC)
    CHMAC(ch_us, &kp U &kp S &kp SPC)
    CHMAC(ch_hela, &kp H &kp E &kp L &kp A &kp SPC)
    CHMAC(ch_state, &kp S &kp T &kp A &kp T &kp E &kp SPC)
    CHMAC(ch_annat, &kp A &kp N &kp N &kp A &kp T &kp SPC)
    CHMAC(ch_never, &kp N &kp E &kp V &kp E &kp R &kp SPC)
    CHMAC(ch_fram, &kp F &kp R &kp A &kp M &kp SPC)
    CHMAC(ch_become, &kp B &kp E &kp C &kp O &kp M &kp E &kp SPC)
    CHMAC(ch_g_r_1, &kp G &kp SEMI &kp R &kp SPC)
    CHMAC(ch_between, &kp B &kp E &kp T &kp W &kp E &kp E &kp N &kp SPC)
    CHMAC(ch_ingen, &kp I &kp N &kp G &kp E &kp N &kp SPC)
    CHMAC(ch_high, &kp H &kp I &kp G &kp H &kp SPC)
    CHMAC(ch_stockholm, &kp S &kp T &kp O &kp C &kp K &kp H &kp O &kp L &kp M &kp SPC)
    CHMAC(ch_really, &kp R &kp E &kp A &kp L &kp L &kp Y &kp SPC)
    CHMAC(ch_g_ra, &kp G &kp SEMI &kp R &kp A &kp SPC)
    CHMAC(ch_something, &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp SPC)
    CHMAC(ch_enligt, &kp E &kp N &kp L &kp I &kp G &kp T &kp SPC)
    CHMAC(ch_mig, &kp M &kp I &kp G &kp SPC)
    CHMAC(ch_another, &kp A &kp N &kp O &kp T &kp H &kp E &kp R &kp SPC)
    CHMAC(ch_redan, &kp R &kp E &kp D &kp A &kp N &kp SPC)
    CHMAC(ch_much, &kp M &kp U &kp C &kp H &kp SPC)
    CHMAC(ch_inom, &kp I &kp N &kp O &kp M &kp SPC)
    CHMAC(ch_family, &kp F &kp A &kp M &kp I &kp L &kp Y &kp SPC)
    CHMAC(ch_kom, &kp K &kp O &kp M &kp SPC)
    CHMAC(ch_own, &kp O &kp W &kp N &kp SPC)
    CHMAC(ch_du, &kp D &kp U &kp SPC)
    CHMAC(ch_leave, &kp L &kp E &kp A &kp V &kp E &kp SPC)
    CHMAC(ch_helt, &kp H &kp E &kp L &kp T &kp SPC)
    CHMAC(ch_put, &kp P &kp U &kp T &kp SPC)
    CHMAC(ch_ju, &kp J &kp U &kp SPC)
    CHMAC(ch_old, &kp O &kp L &kp D &kp SPC)
    CHMAC(ch_samma, &kp S &kp A &kp M &kp M &kp A &kp SPC)
    CHMAC(ch_while, &kp W &kp H &kp I &kp L &kp E &kp SPC)
    CHMAC(ch_kanske, &kp K &kp A &kp N &kp S &kp K &kp E &kp SPC)
    CHMAC(ch_mean, &kp M &kp E &kp A &kp N &kp SPC)
    CHMAC(ch_sj_lv, &kp S &kp J &kp SQT &kp L &kp V &kp SPC)
    CHMAC(ch_keep, &kp K &kp E &kp E &kp P &kp SPC)
    CHMAC(ch_oss, &kp O &kp S &kp S &kp SPC)
    CHMAC(ch_student, &kp S &kp T &kp U &kp D &kp E &kp N &kp T &kp SPC)
    CHMAC(ch_tidigare, &kp T &kp I &kp D &kp I &kp G &kp A &kp R &kp E &kp SPC)
    CHMAC(ch_why, &kp W &kp H &kp Y &kp SPC)
    CHMAC(ch_se, &kp S &kp E &kp SPC)
    CHMAC(ch_let, &kp L &kp E &kp T &kp SPC)
    CHMAC(ch_verkar, &kp V &kp E &kp R &kp K &kp A &kp R &kp SPC)
    CHMAC(ch_great, &kp G &kp R &kp E &kp A &kp T &kp SPC)
    CHMAC(ch_b_ttre, &kp B &kp SQT &kp T &kp T &kp R &kp E &kp SPC)
    CHMAC(ch_same, &kp S &kp A &kp M &kp E &kp SPC)
    CHMAC(ch_s_mre, &kp S &kp SQT &kp M &kp R &kp E &kp SPC)
    CHMAC(ch_big, &kp B &kp I &kp G &kp SPC)
    CHMAC(ch_sida, &kp S &kp I &kp D &kp A &kp SPC)
    CHMAC(ch_group, &kp G &kp R &kp O &kp U &kp P &kp SPC)
    CHMAC(ch_vem, &kp V &kp E &kp M &kp SPC)
    CHMAC(ch_begin, &kp B &kp E &kp G &kp I &kp N &kp SPC)
    CHMAC(ch_varf_r, &kp V &kp A &kp R &kp F &kp SEMI &kp R &kp SPC)
    CHMAC(ch_seem, &kp S &kp E &kp E &kp M &kp SPC)
    CHMAC(ch_ni, &kp N &kp I &kp SPC)
    CHMAC(ch_country, &kp C &kp O &kp U &kp N &kp T &kp R &kp Y &kp SPC)
    CHMAC(ch_vilken, &kp V &kp I &kp L &kp K &kp E &kp N &kp SPC)
    CHMAC(ch_help, &kp H &kp E &kp L &kp P &kp SPC)
    CHMAC(ch_tid, &kp T &kp I &kp D &kp SPC)
    CHMAC(ch_talk, &kp T &kp A &kp L &kp K &kp SPC)
    CHMAC(ch_lite, &kp L &kp I &kp T &kp E &kp SPC)
    CHMAC(ch_where, &kp W &kp H &kp E &kp R &kp E &kp SPC)
    CHMAC(ch_g, &kp G &kp LBKT &kp SPC)
    CHMAC(ch_true, &kp T &kp R &kp U &kp E &kp SPC)
    CHMAC(ch_s_ga, &kp S &kp SQT &kp G &kp A &kp SPC)
    CHMAC(ch_false, &kp F &kp A &kp L &kp S &kp E &kp SPC)
    CHMAC(ch_ge, &kp G &kp E &kp SPC)
    CHMAC(ch_turn, &kp T &kp U &kp R &kp N &kp SPC)
    CHMAC(ch_visa, &kp V &kp I &kp S &kp A &kp SPC)
    CHMAC(ch_problem, &kp P &kp R &kp O &kp B &kp L &kp E &kp M &kp SPC)
    CHMAC(ch_liten, &kp L &kp I &kp T &kp E &kp N &kp SPC)
    CHMAC(ch_every, &kp E &kp V &kp E &kp R &kp Y &kp SPC)
    CHMAC(ch_b_rja, &kp B &kp SEMI &kp R &kp J &kp A &kp SPC)
    CHMAC(ch_start, &kp S &kp T &kp A &kp R &kp T &kp SPC)
    CHMAC(ch_flera, &kp F &kp L &kp E &kp R &kp A &kp SPC)
    CHMAC(ch_hand, &kp H &kp A &kp N &kp D &kp SPC)
    CHMAC(ch_h_lla, &kp H &kp LBKT &kp L &kp L &kp A &kp SPC)
    CHMAC(ch_might, &kp M &kp I &kp G &kp H &kp T &kp SPC)
    CHMAC(ch_american, &kp A &kp M &kp E &kp R &kp I &kp C &kp A &kp N &kp SPC)
    CHMAC(ch_viktig, &kp V &kp I &kp K &kp T &kp I &kp G &kp SPC)
    CHMAC(ch_show, &kp S &kp H &kp O &kp W &kp SPC)
    CHMAC(ch_tycka, &kp T &kp Y &kp C &kp K &kp A &kp SPC)
    CHMAC(ch_part, &kp P &kp A &kp R &kp T &kp SPC)
    CHMAC(ch_hitta, &kp H &kp I &kp T &kp T &kp A &kp SPC)
    CHMAC(ch_against, &kp A &kp G &kp A &kp I &kp N &kp S &kp T &kp SPC)
    CHMAC(ch_dock, &kp D &kp O &kp C &kp K &kp SPC)
    CHMAC(ch_place, &kp P &kp L &kp A &kp C &kp E &kp SPC)
    CHMAC(ch_hos, &kp H &kp O &kp S &kp SPC)
    CHMAC(ch_such, &kp S &kp U &kp C &kp H &kp SPC)
    CHMAC(ch_sen, &kp S &kp E &kp N &kp SPC)
    CHMAC(ch_again, &kp A &kp G &kp A &kp I &kp N &kp SPC)
    CHMAC(ch_few, &kp F &kp E &kp W &kp SPC)
    CHMAC(ch_case, &kp C &kp A &kp S &kp E &kp SPC)
    CHMAC(ch_week, &kp W &kp E &kp E &kp K &kp SPC)
    CHMAC(ch_company, &kp C &kp O &kp M &kp P &kp A &kp N &kp Y &kp SPC)
    CHMAC(ch_system, &kp S &kp Y &kp S &kp T &kp E &kp M &kp SPC)
    CHMAC(ch_each, &kp E &kp A &kp C &kp H &kp SPC)
    CHMAC(ch_right, &kp R &kp I &kp G &kp H &kp T &kp SPC)
    CHMAC(ch_program, &kp P &kp R &kp O &kp G &kp R &kp A &kp M &kp SPC)
    CHMAC(ch_hear, &kp H &kp E &kp A &kp R &kp SPC)
    CHMAC(ch_question, &kp Q &kp U &kp E &kp S &kp T &kp I &kp O &kp N &kp SPC)
    CHMAC(ch_during, &kp D &kp U &kp R &kp I &kp N &kp G &kp SPC)
    CHMAC(ch_play, &kp P &kp L &kp A &kp Y &kp SPC)
    CHMAC(ch_before, &kp B &kp E &kp F &kp O &kp R &kp E &kp SPC)
    CHMAC(ch_previous, &kp P &kp R &kp E &kp V &kp I &kp O &kp U &kp S &kp SPC)
    CHMAC(ch_dont, &kp D &kp O &kp N &kp BSLH &kp T &kp SPC)
    CHMAC(ch_add, &kp A &kp D &kp D &kp SPC)
    CHMAC(ch_more, &kp M &kp O &kp R &kp E &kp SPC)
    CHMAC(ch_ignore, &kp I &kp G &kp N &kp O &kp R &kp E &kp SPC)
    CHMAC(ch_long, &kp L &kp O &kp N &kp G &kp SPC)
    CHMAC(ch_short, &kp S &kp H &kp O &kp R &kp T &kp SPC)
    CHMAC(ch_BSPCll, &kp BSPC &kp BSLH &kp L &kp L &kp SPC)
    CHMAC(ch_BSPCs, &kp BSPC &kp BSLH &kp S &kp SPC)
    CHMAC(ch_BSPCs_1, &kp BSPC &kp S &kp SPC)
    CHMAC(ch_BSPCing, &kp BSPC &kp I &kp N &kp G &kp SPC)
    CHMAC(ch_BSPCed, &kp BSPC &kp E &kp D &kp SPC)
    CHMAC(ch_related, &kp R &kp E &kp L &kp A &kp T &kp E &kp D &kp SPC)
    CHMAC(ch_am, &kp A &kp M &kp SPC)
    CHMAC(ch_try, &kp T &kp R &kp Y &kp SPC)
    CHMAC(ch_had, &kp H &kp A &kp D &kp SPC)
    CHMAC(ch_number, &kp N &kp U &kp M &kp B &kp E &kp R &kp SPC)
    CHMAC(ch_been, &kp B &kp E &kp E &kp N &kp SPC)
    CHMAC(ch_find, &kp F &kp I &kp N &kp D &kp SPC)
    CHMAC(ch_off, &kp O &kp F &kp F &kp SPC)
    CHMAC(ch_should, &kp S &kp H &kp O &kp U &kp L &kp D &kp SPC)
    CHMAC(ch_change, &kp C &kp H &kp A &kp N &kp G &kp E &kp SPC)
    CHMAC(ch_end, &kp E &kp N &kp D &kp SPC)
    CHMAC(ch_ask, &kp A &kp S &kp K &kp SPC)
    CHMAC(ch_came, &kp C &kp A &kp M &kp E &kp SPC)
    CHMAC(ch_did, &kp D &kp I &kp D &kp SPC)
    CHMAC(ch_down, &kp D &kp O &kp W &kp N &kp SPC)
    CHMAC(ch_always, &kp A &kp L &kp W &kp A &kp Y &kp S &kp SPC)
    CHMAC(ch_believe, &kp B &kp E &kp L &kp I &kp E &kp V &kp E &kp SPC)
    CHMAC(ch_call, &kp C &kp A &kp L &kp L &kp SPC)
    CHMAC(ch_feel, &kp F &kp E &kp E &kp L &kp SPC)
    CHMAC(ch_happen, &kp H &kp A &kp P &kp P &kp E &kp N &kp SPC)
    CHMAC(ch_here, &kp H &kp E &kp R &kp E &kp SPC)
    CHMAC(ch_house, &kp H &kp O &kp U &kp S &kp E &kp SPC)
    CHMAC(ch_last, &kp L &kp A &kp S &kp T &kp SPC)
    CHMAC(ch_life, &kp L &kp I &kp F &kp E &kp SPC)
    CHMAC(ch_many, &kp M &kp A &kp N &kp Y &kp SPC)
    CHMAC(ch_may, &kp M &kp A &kp Y &kp SPC)
    CHMAC(ch_need, &kp N &kp E &kp E &kp D &kp SPC)
    CHMAC(ch_point, &kp P &kp O &kp I &kp N &kp T &kp SPC)
    CHMAC(ch_still, &kp S &kp T &kp I &kp L &kp L &kp SPC)
    CHMAC(ch_tell, &kp T &kp E &kp L &kp L &kp SPC)
    CHMAC(ch_thing, &kp T &kp H &kp I &kp N &kp G &kp SPC)
    CHMAC(ch_those, &kp T &kp H &kp O &kp S &kp E &kp SPC)
    CHMAC(ch_three, &kp T &kp H &kp R &kp E &kp E &kp SPC)
    CHMAC(ch_through, &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp SPC)
    CHMAC(ch_too, &kp T &kp O &kp O &kp SPC)
    CHMAC(ch_very, &kp V &kp E &kp R &kp Y &kp SPC)
    CHMAC(ch_world, &kp W &kp O &kp R &kp L &kp D &kp SPC)
    CHMAC(ch_yeah, &kp Y &kp E &kp A &kp H &kp SPC)
    CHMAC(ch_yes, &kp Y &kp E &kp S &kp SPC)
    CHMAC(ch_qualifier, &kp Q &kp U &kp A &kp L &kp I &kp F &kp I &kp E &kp R &kp SPC)
    CHMAC(ch_maybe, &kp M &kp A &kp Y &kp B &kp E &kp SPC)
    CHMAC(ch_probably, &kp P &kp R &kp O &kp B &kp A &kp B &kp L &kp Y &kp SPC)
  };
};
